@import url("https://use.typekit.net/ljv3qtt.css");

/*Default properties*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

/* For responisve pages*/
@-ms-viewport {
  width: device-width;
}

#mainwrap {
  min-height: 100%;
  position: relative;
}

header {
  background: rgb(13, 203, 218);
  background: linear-gradient(
    180deg,
    rgba(13, 203, 218, 1) 2%,
    rgba(161, 226, 231, 1) 68%,
    rgba(208, 241, 243, 1) 84%,
    rgba(255, 255, 255, 0) 100%
  );
  font-family: jumble, sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  position: fixed;
  /* sticky sticky icky */
  top: 0;
  width: 100%;
}

#content {
  padding: auto;
  margin: auto;
}

.villagers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../img/leafbg.png");
  background-attachment: fixed;
  background-color: white;
  padding-top: 200px;
}

.profile {
  margin: 1%;
  margin-bottom: 2%;
}

.profile > h3 {
  text-align: center;
  background: white;
  border: gold solid;
  box-shadow: 2px 2px 4px;
  margin: 1px;
}

.profile > img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: gold solid;
  box-shadow: 2px 2px 4px;
}

/* animation */
@keyframes swinging {
  0% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(10deg);
  }
}

.swingimage {
  transform-origin: 50% 0;
  animation: swinging 3.5s ease-in-out forwards infinite;
  align-self: center;
}

/* some helpful classes*/
img.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* center a image*/
p.centerpar {
  text-align: center;
}

/* center a paragraph*/
h1.centerhe {
  text-align: center;
  margin: 3%;
  text-transform: uppercase;
  color: gold;
  text-shadow: 2px 2px 4px #000;
}

/* personality */

h5.personality {
  text-align: center;
    margin: 5px;
    text-shadow: 2px 2px 4px #fff;
    color: blueviolet;
}

/* modal */

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
  display: none;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
